{% extends "gda/base.html" %}

{% block title %}
Protocollo dettaglio
{% endblock %}


{% block content %}



<table class="table is-bordered is-striped">
  <tr><td>id documento</td><td>{{ object.iddocumento }}</td></tr>
  <tr><td>Oggetto</td><td>{{ object.oggetto }}</td></tr>
  <tr><td>Uffici</td><td><table>{% for ufficio in object.uffici.all %}<tr><td>{{ ufficio.descrizione }}{% endfor %}</tr></td></table></td> 
  <tr><td>Soggetti</td><td><table>{% for soggetto in object.soggetti.all %}<tr><td>{{ soggetto.titolo }}<a href="{% url 'soggetto_view' soggetto.id %}">{{ soggetto.comesichiama }} </a>{% endfor %}</td></tr></table></td>    
  <tr><td>Attribuzioni</td><td><table>{% for attribuzione in object.attribuzione_uffici.all %}<tr><td>{{ attribuzione.descrizione }}{% endfor %}</td></tr></table></td> 
 </table>
<hr />

<table class="table is-bordered is-striped">
  <tr>    <th>Documenti</th> </tr>

{% for document in object.DocumentList %}
<tr><td>     <a href ="../download/{{ object.iddocumento }}/{{ document.id }}">{{ document.title }}</a></td></tr>
{% endfor %}
</table>


{% endblock %}
